<table id="datatable">
  <thead>
    <tr>
      {{#each tableData.[0]}}
        <th>{{@key}}</th>
      {{/each}}
        <th>Remove</th>
    </tr>
  </thead>
  <tbody>

    {{#each tableData}}
      <tr>
        {{#each this}}
          <td>{{this}}</td>
        {{/each}}
          <td align="center" style="padding: 0px" class="removeicon" id={{@index}}>&#128465</td>
      </tr>
    {{/each}}
  </tbody>
</table>