<div class="container">
  {{> table tableData=atributeInfo headerNames=employeesProjectsData page="employees_projects"}}
  {{> form inputData=atributeInfo headerNames=employeesProjectsData title="Add an Existing Employee To an Existing Project" page="employees_projects"}}
</div>