<div class="container">
  {{> table tableData=employeesProjectsData page="employees_projects"}}
  {{> form inputData=atributeInfo title="Add an Existing Employee To an Existing Project" page="employees_projects"}}
</div>