<div class="container">
  {{> table tableData=atributeInfo headerNames=employeesProjectsData fkInfo=fkInfo fkTable=fkTable page="employees_projects"}}
  {{> form inputData=atributeInfo headerNames=employeesProjectsData fkInfo=fkInfo fkTable=fkTable title="Add an Existing Employee To an Existing Project" page="employees_projects"}}
</div>