<div class="container">
  {{!-- Create Table for each employee data --}}
  {{> table tableData=employeeData page="employee"}}
  {{!-- Using the labels from employee data make add form --}}
  {{> form inputData=employeeData.[0] title="Add Employee" page="employee"}}
</div>