<div class="container">
  {{!-- Create Table for each employee data --}}
  {{> table tableData=atributeInfo headerNames=employeeData fkInfo=fkInfo page="employees"}}
  {{!-- Using the labels from employee data make add form --}}
  {{> form inputData=atributeInfo headerNames=employeeData title="Add Employee" page="employees"}}
</div>