<div class="container">
  {{!-- Create Table for each project data --}}
  {{> table tableData=projectData page="projects"}}
  {{!-- Using the labels from project data make add form --}}
  {{> form inputData=projectData.[0] title="Add Project" page="projects"}}
</div>