<div class="container">
  {{!-- Create Table for each project data --}}
  {{> table tableData=atributeInfo page="projects"}}
  {{!-- Using the labels from project data make add form --}}
  {{> form inputData=atributeInfo title="Add Project" page="projects"}}
</div>