<div class="container">
  {{!-- Create Table for each employee data --}}
  {{> table tableData=roleData}}
  {{!-- Using the labels from employee data make add form --}}
  {{> form inputData=roleData.[0] title="Add Role" page="role"}}
</div>