<div class="container">
  {{!-- Create Table for each employee data --}}
  {{> table tableData=salaryData page="salaries"}}
  {{!-- Using the labels from employee data make add form --}}
  {{> form inputData=atributeInfo title="Add Employee Salary" page="salaries"}}
</div>