<div class="container">
  {{!-- Create Table for each employee data --}}
  {{> table tableData=salaryData}}
  {{!-- Using the labels from employee data make add form --}}
  {{> form inputData=salaryData.[0] title="Add Employee Salary" page="salary"}}
</div>