<div class="container">
  <h2>Beavers for Better's Employee Salaries</h2>
  {{!-- Create Table for each employee data --}}
  {{> table tableData=atributeInfo headerNames=salaryData fkInfo=fkInfo fkTable=fkTable page="salaries"}}
  {{!-- Using the labels from employee data make add form --}}
  {{> form inputData=atributeInfo headerNames=salaryData fkInfo=fkInfo fkTable=fkTable title="Add Employee Salary" page="salaries"}}
</div>