/* Set the font family and color for the entire page */
body {
  font-family: Arial, sans-serif;
  color: #333;
  /* color: #ffffff; */
}

/* html {
  background-color: #242729 !important;
  color-scheme: dark !important;
}

html, body {
  border-color: #ada18d;
} */

/* Add a header to the page */
header {
  background-color: #f2f2f2;
  /* background-color: #2f3335; */
  padding: 10px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.navbar a:hover {
  color: #000;
}

h1 a {
  /* color: white; */
  color: black;
  text-decoration: none;
}

/* Style the main container for the page */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Customize the styles as per your requirements */
.datatable-perpage {
  float: left;
}

.datatable-perpage label {
  text-align: left;
  font-weight: 400;
}
.form-label {
  margin-bottom: 0.5rem;
}
label {
  display: inline-block;
}

.datatable-perpage select {
  width: 75px;
  display: inline-block;
}
.form-select-sm {
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.710938rem;
}
.form-select {
  width: 100%;
  -moz-padding-start: calc(0.75rem - 3px);
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.15rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 0.375rem 1.1rem 0.375rem 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: block;
}
select {
  word-wrap: normal;
}
button,
select {
  text-transform: none;
}
.datatable-controls {
  float: right;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.help-icon {
  cursor: pointer;
  font-size: 13px;
}
.glyphicon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Glyphicons Halflings;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 1px;
}
.cursor-pointer {
  cursor: pointer;
}
.btn {
  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border-width: 1px;
  border-color: transparent;
  border-radius: 0.375rem;
  box-shadow: none; /* Remove the box shadow */
  opacity: 0.65;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: none; /* Remove the transition */
  display: inline-block;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.710938rem;
  border-radius: 0.25rem;
}

.btn-light-bordered {
  color: #000;
  background-color: #f8f9fa;
  border-color: #ced4da;
}

.btn-light-bordered:hover {
  color: #000;
  background-color: #e3e7eb;
  border-color: #d3d8de;
}

.btn-light-bordered:focus {
  box-shadow: none; /* Remove the focus box shadow */
  outline: none; /* Remove the focus outline */
}

.btn-light-bordered:active {
  outline: none; /* Remove the active outline */
}

.datatable-controls input {
  width: 200px;
}
.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.710938rem;
}
.form-control {
  width: 100%;
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: block;
}
[type="search"] {
  outline-offset: -2px;
}
.float-end {
  float: right !important;
}
.dropup,
.dropend,
.dropdown,
.dropstart,
.dropup-center {
  position: relative;
}
input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.filter-toggle {
  /* position: absolute; */
  top: 0;
  right: 0;
}

.search-bar {
  /* position: absolute; */
  top: 0;
  right: 80px; /* Adjust as needed */
}

.kebab-menu {
  /* position: absolute; */
  top: 0;
  right: 0;
}

.kebab-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.kebab-menu-content a {
  display: block;
}

.kebab-menu:hover .kebab-menu-content {
  display: block;
}

/* Style the table that displays the employee data */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Style the table headers */
th {
  background-color: #f2f2f2;
  /* background-color: #2f3335; */
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  /* border-bottom: 1px solid #5d6669; */
}

/* Style the table cells */
td {
  /* display: flex!important; */
  padding: 10px;
  border-bottom: 1px solid #ccc;
  /* width: 100%; */
  /* border-bottom: 1px solid #5d6669; */
}

.removeicon {
  padding: 0px;
  font-size: 25px;
  max-height: 39px;
  font-weight: 800;
}

.removeicon:hover {
  color: red;
  cursor: pointer;
}

th.sorted-asc::after {
  content: " ▲";
}
th.sorted-desc::after {
  content: " ▼";
}

/* Highlight the table header cells when hovering over them */
th:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* .editing {
  outline: 2px solid #007bff;
  outline-offset: -2px;
  border-radius: 5px;
  padding: 1px;
}

.editing::after {
  color: #007bff;
  font-weight: 800;
  content: " 🖉";
} */

.editing {
  position: relative;
  outline: 2px solid #007bff;
  outline-offset: -2px;
  border-radius: 5px;
  padding-right: 20px; /* Adjust the padding as needed */
}

label.NO::after {
  content: "*";
  color: red;
}

label.date::after {
  content: "";
  color: red;
}

label[for="birthdate"]::after {
  content: "*";
  color: red;
}

label.PRI::after {
  content: "";
  color: red;
}

label.FKtrue::after {
  content: "*";
  color: red;
}

.editing::after {
  content: " 🖉";
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust the right position as needed */
  transform: translateY(-50%);
  color: #007bff;
  font-weight: 800;
}

/* Style the form used to add or edit employees */
form {
  max-width: 600px;
  margin: 0 auto;
}

/* Style the form labels and input fields */
label {
  display: block;
  margin-bottom: 10px;
}

.datainput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  /* border: 2px solid #5d6669; */
  border-radius: 4px;
}

td input {
  width: 0px;
}

.d-hidden {
  display: none;
}

thead td {
  /* width: 100%; */
  /* height: auto; */
  /* padding: 20px; */
  /* margin: auto; */
  /* box-sizing: border-box; */
  /* display: table-cell; */
  /* vertical-align: inherit; */
}

/* Style the form submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.help-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.5px;
  height: 33.5px;
  background-color: #f1f1f1;
  color: #595959;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  margin-right: 6px;
  font-weight: 900;
  border: 1px solid #abaeb0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.overlay h3 {
  margin-top: 0;
}

.overlay p {
  margin-bottom: 0;
}

/* Style the error messages displayed on the form */
.error {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

/* *, :before, :after {
  box-sizing: border-box;
} */
